<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>341565608443-3cdjskrou3antr262tikugrqe472md26.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpg_IAPSePN-R_9xYA_B2xhn4P-DJjwKY</string>
	<key>GCM_SENDER_ID</key>
	<string>341565608443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskList</string>
	<key>PROJECT_ID</key>
	<string>gymforlife-fe532</string>
	<key>STORAGE_BUCKET</key>
	<string>gymforlife-fe532.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341565608443:ios:26432be12e35866cc87b5e</string>
	<key>DATABASE_URL</key>
	<string>https://gymforlife-fe532.firebaseio.com</string>
</dict>
</plist>